body {
    margin:0;
    padding:0;
    font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-color:#484848;
    font-size:14px;
}
.container {
    max-width:100px;
    margin:30px auto 30px auto;
    position:relative;
}